.enroll{
  padding: 120px 0 197px;
  position: relative;
  &__subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #3035C4;
    margin-bottom: 28px;
  }
  &__title{
    font-weight: 800;
    font-size: 56px;
    margin-bottom: 52px;
    &-span{
      color: #E6514A;
    }
  }
  &__btn{
    background: #E6514A;
    padding: 16px 60px;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 700;
  }
  &__img{
    position: absolute;
    top: -130px;
    right: -155px;
    z-index: -1;
  }
}

@media (max-width: 1200px){
  .enroll__left{
    width: 49.5%;
  }
}