.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(35, 40, 59, 0.5647058824);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  display: none;
}
.overlay__close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.overlay__popup {
  width: 100%;
  max-width: 770px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 40px rgba(73, 95, 211, 0.22);
          box-shadow: 0 10px 40px rgba(73, 95, 211, 0.22);
  border-radius: 20px;
  position: relative;
}
.overlay__img {
  width: 45%;
}
.overlay__form {
  width: 55%;
  padding: 52px 70px 52px 52px;
}
.overlay__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  color: #3035C4;
  margin-bottom: 12px;
}
.overlay__subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #23283B;
  margin-bottom: 36px;
}
.overlay__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overlay__label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #23283B;
  margin-bottom: 8px;
}
.overlay__label-field {
  border: 1px solid #ebebed;
  border-radius: 40px;
  padding: 0 20px;
  margin-bottom: 16px;
  letter-spacing: 1.2px;
  width: 100%;
  height: 52px;
  font-weight: 400;
}
.overlay__label-field::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  width: 200px;
}
.overlay__label-field::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  width: 200px;
}
.overlay__label-field:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  width: 200px;
}
.overlay__label-field::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  width: 200px;
}
.overlay__label-field::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  width: 200px;
}
.overlay__btn {
  margin-top: 16px;
  padding: 16px 88px;
  background: #E6514A;
  border-radius: 30px;
  color: white;
  border: none;
  font-weight: 700;
  width: 100%;
}